body {
font-family: Calibri;
}

.italicized {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.normal {
	font-style: normal;
}

.center {
	text-align: center;
}

.caption {
	font-size: 14px;
	font-weight: bold;
}

p {
	font-size: 18px;
}

#contents { 
	background-color: #cccccc;
	width: 25%;
	border: 2px solid black;
}

.contents {
font-size: 12px;
}

.evidence {
color: #ff0000;
}

h1,h2,h3,h4,h5,h6{
border-bottom: 2px solid black;
} 

.noline {
border-bottom: none;
}