<sup>[7]</sup><a id="source7" href="http://history.com/topics/world-war-ii/us-home-front-during-world-war-ii">
http://history.com/topics/world-war-ii/us-home-front-during-world-war-i
</a> 
<span class="evidence">
Executive Order 9066 was the offshoot of a combination of wartime panic and the belief on the part of some that anyone of Japanese ancestry, 
even those who were born in the U.S., was somehow capable of disloyalty and treachery.
</span>
 1/10/17 (Alejandro)
<br/>
<sup>[5]</sup>
<a id="source5" href="https://caamedia.org/jainternment/ww2/fbi.html">
https://caamedia.org/jainternment/ww2/fbi.html
</a>
<span class="evidence">
"Within hours of the news from Hawaii, FBI agents, many without evidence, search or arrest warrants, conducted house to house roundups of 1,212 Issei (first-generation Japanese immigrants) in Hawaii and the mainland.
They were prominent leaders in the Japanese-American communities: priests, teachers in language schools, officers of community organizations, and newspaper editors. Often they were arrested in the middle of the night, taken to unknown destinations, and treated as prisoners of war.
"</span> 
<br/> 
<sup>[6]</sup> 
<span class="evidence">
"All nationals and subjects of Axis countries were identified as 'enemy alien.'
The Nisei (second-generation, U.S.-born children of the Issei) who were American citizens by birth, were designated as 'non-aliens' and were subjected to the same restrictions. Their travel, work hours, and social gatherings were severely restricted and their contraband articles confiscated. Those deemed 'dangerous to the public peace or safety of the U.S.' were subject to apprehension."
</span> 1/11/17 (Brandon)
<br/>
<a href="https://artifactsjournal.missouri.edu/2012/03/wwii-propaganda-the-influence-of-racism/">
https://artifactsjournal.missouri.edu/2012/03/wwii-propaganda-the-influence-of-racism/
</a> 
<br/>
<sup>[8]</sup>
<span class="evidence" id="source8">
"This 1942 poster, titled This is the Enemy, circulated in the United States 
<br/>
following the Japanese attack on Pearl Harbor. Its purpose was to embody the 
<br/>
entire Japanese nation as a ruthless and animalistic enemy that needed to be 
<br/>
defeated."
</span>
<br/>
<sup>[9]</sup>
<span class="evidence">
    "By dehumanizing the Japanese and instilling fear in the minds of Americans, 
    <br/>
    WWII propaganda posters prompted cultural and racial hatred that led to massive
    <br/>
    historical consequences for the Japanese."
</span>
<br/>
<sup>[10]</sup>
<span class="evidence">
    In other words, propaganda is used to influence people psychologically in order 
    <br/>
    to alter social perceptions. In the case of This is the Enemy, the purpose was 
    <br/>
    to change American perceptions of the Japanese.
</span>
 1/12/17 (Nathan)
<br/>
<sup>[2]</sup>
<a id="source2" href="http://classes.maxwell.syr.edu/soc248/japaneseintern.html">
http://classes.maxwell.syr.edu/soc248/japaneseintern.html
</a> 
<span class="evidence">
"One of the reasons that they threw us into the terrible living conditions was that they believed that we were spies for Japan during World War II, which in the end only ten people were convicted of spying for Japan, all of whom were Caucasian."
</span> 
 1/12/17(Nathan)
<br />
<a href="http://teacher.scholastic.com/activities/wwii/ahf/mineta/background.htm">
http://teacher.scholastic.com/activities/wwii/ahf/mineta/background.htm
</a>
 1/17/17 (Brandon)
<br/>
<sup>[11]</sup>
<a id="source11" href="https://www.archives.gov/education/lessons/japanese-relocation">
https://www.archives.gov/education/lessons/japanese-relocation</a>
<span class="evidence">
"The attack on Pearl Harbor also launched a rash of fear about national security..."
</span>
 1/17/17 (Brandon)
<br/>
<a href="http://www.armchairgeneral.com/japanese-american-internment-during-world-war-ii.htm">
http://www.armchairgeneral.com/japanese-american-internment-during-world-war-ii.htm
</a>
 1/17/17 (Brandon)
<br/>
<a href="http://www.ushistory.org/us/51e.asp">
ttp://www.ushistory.org/us/51e.asp
</a>
 1/12/17 (Nathan)
<br/>
<sup>[3]</sup>
<a id="source3" href="http://www.history.com/this-day-in-history/roosevelt-signs-executive-order-9066">
http://www.history.com/this-day-in-history/roosevelt-signs-executive-order-9066
</a> 
<span class="evidence">"During the course of World War II, 10 Americans were convicted of spying for Japan, but not one of them was of Japanese ancestry."</span>
 1/17/17 (Nathan)
<br/>
<a href="http://www.history.com/topics/world-war-ii/japanese-american-relocation">
http://www.history.com/topics/world-war-ii/japanese-american-relocation
</a>
 1/18/17 (Alejandro)
<br/>
<a href="https://calisphere.org/exhibitions/essay/8/relocation/">
https://calisphere.org/exhibitions/essay/8/relocation/
</a>
 1/18/17 (Alejandro)
<br/>
<sup>[4]</sup>
<span class="evidence" id="bookquote1">"...we finally decided to get rid of some of ours. We knew it was impossible to destroy everything. The FBI would certainly think it strange if the found us sitting in a bare house, totally purged of things Japanese. But it was as if we could no longer stand against the black day. We worked all night, feverishly combing through bookshelves, closets, drawers, and furtively creeping down to the basement furnace for the burning. I gathered together my well-worn Japanese language schoolbooks which I had been saving over a period of ten years with the thought that they might come in handy when I wanted to teach Japanese to my own children.  I threw them into the fire and watched them flame and shrivel into black ashes. But when I came face to face with my Japanese doll which Grandmother Nagashima had sent me from Japan, I rebelled."
</span>
 P.155, Nisei Daughter, by Monica Sone (Brandon)
<br/>
<span class="evidence" id="bookquote2">"I found Mom and Grandmother in the kitchen. 'FBI!' I said.
'No', Mom said, backing away from the window. 'Trouble.' She hurried from the room. 'Joseph, answer the door, but not quickly!' she called back."
</span> 
p.62-63 Thin Wood Walls, by David Patneaude (Alejandro)
<h3>Picture sources:</h3>
<span id="1img"><sup>[1]</sup>
<a href="https://artifactsjournal.missouri.edu/2012/03/wwii-propaganda-the-influence-of-racism/">
https://artifactsjournal.missouri.edu/2012/03/wwii-propaganda-the-influence-of-racism/
</a>
</span> 1/12/17
<br/>
